@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');

$font :'Roboto Slab', serif;
$main-color: #0a66c2;
$font-color: rgba(0,0,0,0.9);
$main-bg-color: #f3f2ef;
$post-width: 540px;
